<template>
  <div>
    <meu-menu />
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-12 mt-2">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from "./components/shared/menu/Menu.vue";

export default {
  components: {
    "meu-menu": Menu
  }
};
</script>

<style>
</style>
