<template>
  <div>
    <h3>Busca Tweets por Hashtag</h3>
    <form @submit.prevent="search()">
      <div class="form-row align-items-center">
        <div class="col-auto my-1">
          <input
            type="text"
            id="find"
            placeholder="Digite a hashtag ex. #aws"
            v-model="hashtag"
            autofocus
          />
        </div>
        <div class="col-auto my-1">
          <input type="submit" class="btn btn-success" value="Pesquisar" />
        </div>
      </div>
    </form>
    <div>
      <span :class="item.status" v-for="item of hashtags">{{item.hashtag}}</span>
    </div>
    <ul class="list-group mt-2" v-show="pesquisa">
      <li class="list-group-item" v-if="!listTweets.length">Nenhum tweet encontrado!</li>
      <li class="list-group-item" v-for="item of listTweets">
        <div class="row">
          <div class="col-md-1">
            <img
              :src="item.img"
              class="img-responsive rounded-circle"
            />
          </div>
          <div class="col-md-10">
            <p>{{item.name}} - @{{item.screen_name}}</p>
            <p>{{item.text}}</p>
            <small>{{item.date}}</small>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import TweetService from "./domain/TweetService";

export default {
  data() {
    return {
      hashtag: "",
      listTweets: [],
      pesquisa: false,
      hashtags: [
        { hashtag: "#cloud", status: 'badge badge-pill mr-1 badge-secondary' },
        { hashtag: "#container", status: 'badge badge-pill mr-1 badge-secondary' },
        { hashtag: "#devops", status: 'badge badge-pill mr-1 badge-secondary' },
        { hashtag: "#aws", status: 'badge badge-pill mr-1 badge-secondary' },
        { hashtag: "#microservices", status: 'badge badge-pill mr-1 badge-secondary' },
        { hashtag: "#docker", status: 'badge badge-pill mr-1 badge-secondary' },
        { hashtag: "#openstack", status: 'badge badge-pill mr-1 badge-secondary' },
        { hashtag: "#automation", status: 'badge badge-pill mr-1 badge-secondary' },
        { hashtag: "#gcp", status: 'badge badge-pill mr-1 badge-secondary' },
        { hashtag: "#azure", status: 'badge badge-pill mr-1 badge-secondary' },
        { hashtag: "#istio", status: 'badge badge-pill mr-1 badge-secondary' },
        { hashtag: "#sre", status: 'badge badge-pill mr-1 badge-secondary' }
      ]
    };
  },
  methods: {
    search() {
      this.tweetservice = new TweetService();
      this.tweetservice
        .TweetsByHashtag(this.hashtag)
        .then(d => (this.listTweets = d.data))
        .catch(e => console.log(e));
      this.pesquisa = true;
    }
  },
  created() {
    this.tweetservice = new TweetService();
    this.tweetservice.hashtagsLoaded().then((d) => {
      for (let item of d.data) {
        let index = -1;
        this.hashtags.forEach((elem, index) => {
          if (elem.hashtag === item.hashtag) {
            this.hashtags[index]['status'] = elem.status + ' badge-success';
          }
        });
      }
    });
  }
};
</script>

<style scoped>
</style>