<template>
  <div>
    <div class="row">
      <div class="col-md-3" v-for="item of hashtags">
        <div class="card text-white background-card mb-3">
          <div class="card-header">{{item.hashtag}}</div>
          <div class="card-body" v-for="(user, index) of item.ranking">
            <span class="card-text">{{index+1}}. {{user.name}} - {{user.followers}} seguidores <span v-show="item.hashtag == 'Geral'">{{user.hashtag}}</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TweetService from "./domain/TweetService";

export default {
  data() {
    return {
      hashtags: [
        { hashtag: "Geral", ranking: [] },
        { hashtag: "#cloud", ranking: [] },
        { hashtag: "#container", ranking: [] },
        { hashtag: "#devops", ranking: [] },
        { hashtag: "#aws", ranking: [] },
        { hashtag: "#microservices", ranking: [] },
        { hashtag: "#docker", ranking: [] },
        { hashtag: "#openstack", ranking: [] },
        { hashtag: "#automation", ranking: [] },
        { hashtag: "#gcp", ranking: [] },
        { hashtag: "#azure", ranking: [] },
        { hashtag: "#istio", ranking: [] },
        { hashtag: "#sre", ranking: [] }
      ]
    };
  },
  created() {
    this.tweetservice = new TweetService();
    this.tweetservice.usersByHashtag().then(d => {
      for (let item of d.data) {
        let index = -1;
        this.hashtags.forEach((elem, index) => {
          if (elem.hashtag === item.hashtag) {
            this.hashtags[index]['ranking'] = item.ranking;
          }
        });
      }
    });
  }
};
</script>

<style scoped>
.card-body {
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-bottom: 0.1rem;
}

.background-card {
  background-color: #FF851B;
}
</style>